
# Ketergantungan
/node_modules

# Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
log.txt

# Artefak build (meskipun tidak digunakan dalam proyek ini, ini adalah praktik yang baik)
/build
/dist

# File environment
.env
.env.local
.env.*.local

# File sistem operasi
.DS_Store
Thumbs.db

# File konfigurasi editor
.vscode/
.idea/
